.footer {
	background-color: #DCEA00;
	width: auto;
	min-height: 200px;
}

.footer .flex-container {
	width: 100%;
	height: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}


.footer p {
	font-weight: lighter;
	color: #000;
	text-align: center;
	margin: 20px 0;
}

.footer .footer-button {
	display: inline-block;
	padding: 20px 60px;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: 2px;
	transition: 0.3s;
}

.footer .footer-button:hover {
	background-color: #303030;
	color: #fff;
}


@media screen and (min-width: 580px) {		
	.footer .flex-container {
		justify-content: space-between;
		flex-direction: row;
		align-content: center;
		padding-top: 45px;
	}

	.footer .footer-button {
		height: 67px;
		margin: 23px 0;
	}

	.footer p {
		text-align: left;
	}

}

@media screen and (min-width: 660px) {
	.footer .footer-button {
		padding: 20px 90px;

	}
}
